a {
  text-decoration: none;
}

.App {
  padding: 16px;
}

.Museum-badge {
  flex: auto;
}

.Art-icon {
  display: flex;
  flex-direction: row;
}

.Art-details {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.Art-checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.Art-checkbox {
  margin-right: 32px;
  padding: 16px;
  width: 25%;
  /* outline-style: solid;
  outline-width: 1px; */
}

.Museum-name {
  font-size: 16px;
  color: black;
}

.Art-icon-photo,
.Museum-visited-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  padding-bottom: 6px;
}

.Museum-visited-icon {
  opacity: 0.5;
}

.Museum-subtitle {
  font-size: 12px;
  color: grey;
}

.Submit-button {
  padding: 16px;
}
